<ion-header>
  <ion-toolbar>
    <ion-title>
      NFC Android Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <p>
      <ion-button (click)="startNFC()">start NFC readermode</ion-button>
    </p>
    <p>
      <ion-button (click)="startNFCListener()">start NFC listener</ion-button>
    </p>
    <p>
      <ion-button (click)="startInterval()">start Interval</ion-button>
    </p>
    <p>
      <ion-button (click)="doNothing()">do nothing</ion-button>
    </p>
    <p>
      {{nfcReading}}
      {{nfcTag}}
      <ion-spinner *ngIf="nfcReading"> </ion-spinner>
    </p>
  </ion-card>
</ion-content>
